<div class="col-xs-6">
    <app-warning-alert></app-warning-alert>
</div>
<div class="col-xs-6">
    <app-success-alert></app-success-alert>
</div>

<!-- <input type="text" class="form-control" (input)="onSetServerName($event)" > -->
<input type="text" class="form-control" [(ngModel)]="serverName" >
<!-- <p>{{ serverName }}</p> -->

<button class="btn btn-primary" [disabled]="!allowServerIncrement" (click)="onServerCreate()">Add server</button>
<p *ngIf="serverCreate;else NoServerCreated;">The server with the name {{serverName}} has been created !</p>
<ng-template #NoServerCreated>
    <p>No server was created.</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>

<hr>

<input class="form-control" type="text" [(ngModel)]="userName">
<p>{{ userName }}</p>
<button class="btn btn-secondary" (click)="resetUserName()" [disabled]="!userName">Reset</button>

<hr>

<button class="btn btn-secondary" (click)="toggleDetails()">Display Details</button>
<p *ngIf="isDisplayed">Secret password=tuna</p>


<table *ngIf="eventLog.length > 0">
    <tr>
        <th>
            Logs information
        </th>
    </tr>
    <tr *ngFor="let log of eventLog; let i=index;">
        <td [ngClass]="{'logRow':i>=4}" [ngStyle]="{backgroundColor:getRowBgColor(i)}">
            {{ log }}
        </td>
    </tr>
</table>
